.favoris{
    background:  #F3F4F6;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 80px;
}
.title-favoris1{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #0F172A;
}
.course-favoris{
    height: 550;
    width: 100%;
    background-color:white;
    padding: 20px;
}