.course-item{
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative;
  background: #FCFCFD;
  border: 1px solid #E2E8F0;
  width: 366px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  img{
  width: 366px;
  height: 200px;
  object-fit: cover;
}
  .course-info-container{
    padding-left: 24px;
    padding-right: 25px;
    padding-block: 16px;
    text-align: center;
    width: 100%;
    .course-name{
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #1D1D1D;
      text-align: left!important;
    }
    .course-owner{
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */
      color: #64748B;
      padding-bottom: 24px;
      text-align: left!important;
    }
    .course-quote{
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      /* or 19px */
      color: #454545;
      padding-bottom: 14px;
      text-align: left!important;
    }
    .course-stars{
      text-align: left!important;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      /* or 19px */
      padding-bottom: 14px;
      color: #454545;
    }
    .course-owner-image{
      width: 72px;
      height: 72px;
      border-radius: 36px;
      margin-top: -60px;
      border: 3px solid #FFFFFF;
    }
  }
}
