.fg_pass{
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    margin-right: 400px;
    margin-left: 500px;width: 500px;
    background-color: white;
    margin-top: 160px; 
    margin-bottom: 300px;
}