.itemBreadcrumbLink{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: #0F172A;
}
.itemBreadcrumb{
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    color: gray;
}