.apprenat-list{
    margin-top: 20px;
    margin-right: 60px;
    margin-left: 40px;
}
.title-apprenant{
    font-size: 28px;
    color: #0F172A;  
}
.userList{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
 }
 .icon-visible{
     margin-right: 5px;
     color:gray;
 }
 .icon-delete{
     color:#F87171;
 }