.reclamations{
    background:  #F3F4F6;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 80px;
}
.title-reclamations{
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #0F172A;
}
.header-reclamation{
display: flex;
justify-content: space-between;
}
.repondre-reclamation{
    display: flex;
    justify-content:flex-start;
    color:#64748B;
    cursor: pointer;
}
.add-reponse{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 20px;
    padding: 10px;
}